header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  .logo {
    margin-right: 0.5em;
  }

  @media (min-width: 1200px) {
    justify-content: start;
  }
}